<template>
  <v-flex>
    <v-card
      class="mx-auto mt-5"
      outlined
      raised
      :color="color"
      dark
      v-for="post in posts"
      :key="post.id"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4">{{post.author}}</div>
          <v-list-item-title class="headline mb-1">{{post.title}}</v-list-item-title>
          <v-list-item-subtitle>{{post.description}}</v-list-item-subtitle>

        </v-list-item-content>
        <v-list-item-avatar
          tile
          size="125"
          color="grey"
        >
          <v-img :src="post.thumbnail"></v-img>
        </v-list-item-avatar>
      </v-list-item>

      <v-card-actions>
        <v-btn
          :href="`admin/${post.id}`"
          text
          v-if="isAdmin"
        >
          Read more
        </v-btn>
        <v-btn
          :href="`posts/${post.id}`"
          text
          v-else
        >
          Read more
        </v-btn>
      </v-card-actions>

    </v-card>

  </v-flex>
</template>
<script>
export default {
  props: ["posts", "color", "isAdmin"]
}
</script>
