<template>
  <v-container>
    <v-card>
      <v-card-title>You are Admin, also can edit these posts and create new post.</v-card-title>
      <v-card-actions>
        <v-btn
          text
          color="green"
          dark
          large
          @click="dialog=true"
        >Create Post</v-btn>
        <v-btn
          text
          color="red"
          dark
          large
          @click="onLogout"
        >Logout</v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="dialog">
      <v-card>
        <v-card-title>Create New Post</v-card-title>
        <v-divider></v-divider>
        <v-container>
          <v-form>
            <v-text-field
              v-model="post.title"
              label="Title"
            ></v-text-field>
            <v-textarea
              v-model="post.content"
              label="Content"
            ></v-textarea>
            <v-textarea
              v-model="post.description"
              label="description"
            ></v-textarea>
            <v-textarea
              v-model="post.thumbnail"
              label="Thumbnail URL"
            ></v-textarea>
            <v-textarea
              v-model="post.author"
              label="Author"
            ></v-textarea>
            <v-divider class="mb-5"></v-divider>
            <v-btn
              text
              color="green"
              @click.prevent="onSubmitted"
            >Save</v-btn>
            <v-btn
              text
              color="red"
              @click="dialog = false"
            >Cancel</v-btn>
          </v-form>
        </v-container>
      </v-card>
    </v-dialog>
    <PostsCard
      :posts="posts"
      :color="color"
      :isAdmin="isAdmin"
    />
  </v-container>
</template>
<script>
export default {
  middleware: ['check-auth', 'auth'],
  data () {
    return {
      color: 'red',
      dialog: false,
      isAdmin: true,
      post: {
        title: '',
        content: '',
        description: '',
        author: '',
        thumbnail: ''
      }
    }
  },
  methods: {
    onSubmitted () {
      this.$store.dispatch('addPost', this.post)
        .then(() => {
          this.dialog = false
        })
        .catch(error => console.log(error))
    },
    onLogout () {
      this.$store.dispatch('logout')
      this.$router.push("/admin/auth");
    }

  },
  computed: {
    posts () {
      return this.$store.getters.posts
    }
  }
}
</script>
