<template>
  <v-container>
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <v-card>
          <v-img
            class="white--text align-end"
            height="400px"
            :src="post.thumbnail"
          ></v-img>
          <v-card-title> {{post.title}} </v-card-title>
          <v-card-actions>
            <v-btn
              text
              color="blue"
              @click="dialog = true"
            >Edit Post</v-btn>
          </v-card-actions>
          <v-card-subtitle>Author: {{post.author}} || Last Update: {{post.updatedPost | date}} </v-card-subtitle>
          <v-card-text class="body-1"> {{post.content}} </v-card-text>
        </v-card>
        <v-dialog v-model="dialog">
          <v-card>
            <v-card-title>Edit Post</v-card-title>
            <v-divider></v-divider>
            <v-container>
              <v-form>
                <v-text-field
                  v-model="post.title"
                  label="Title"
                ></v-text-field>
                <v-textarea
                  v-model="post.content"
                  label="Content"
                ></v-textarea>
                <v-textarea
                  v-model="post.description"
                  label="description"
                ></v-textarea>
                <v-textarea
                  v-model="post.thumbnail"
                  label="Thumbnail URL"
                ></v-textarea>
                <v-textarea
                  v-model="post.author"
                  label="Author"
                ></v-textarea>
                <v-divider class="mb-5"></v-divider>
                <v-btn
                  text
                  color="green"
                  @click="onSubmitted"
                >Save</v-btn>
                <v-btn
                  text
                  color="red"
                  @click="dialog = false"
                >Cancel</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  middleware: ['check-auth', 'auth'],
  data () {
    return {
      dialog: false
    }
  },
  asyncData (context) {
    return context.app.$axios.$get('/posts/' + context.params.postid + '.json')
      .then(data => {
        return {
          post: { ...data, id: context.params.postid }
        }
      })
      .catch(e => context.error(e))
  },
  methods: {
    onSubmitted () {
      this.$store.dispatch('editPost', this.post)
        .then(() => {
          this.dialog = false
          this.$router.push('/admin')
        })

    }
  }

}
</script>
