<template>
  <v-container>
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <v-card>
          <v-img
            class="white--text align-end"
            height="400px"
            :src="post.thumbnail"
          ></v-img>
          <v-card-title> {{post.title}} </v-card-title>
          <v-card-subtitle>Author: {{post.author}} || Last Update: {{post.updatedPost | date}} </v-card-subtitle>
          <v-card-text class="body-1"> {{post.content}} </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  asyncData (context) {
    return context.app.$axios.$get('/posts/' + context.params.id + '.json')
      .then(data => {
        return {
          post: data
        }
      })
      .catch(e => context.error(e))
  }

}
</script>
