<template>
  <PostsCard
    :posts="posts"
    :color="color"
    :isAdmin="false"
  />
</template>
<script>
export default {
  data () {
    return {
      color: 'blue'
    }
  },
  computed: {
    posts () {
      return this.$store.getters.posts
    }
  }
}
</script>
