<template>
  <v-container>
    <v-layout class="justify-center align-center">
      <v-flex xs6>
        <v-card class="elevation-12">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>Login form</v-toolbar-title>

          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="onSubmit">
              <v-text-field
                label="Email"
                name="email"
                prepend-icon="mdi-account"
                type="text"
                v-model="email"
              ></v-text-field>

              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                v-model="password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>

            <v-btn
              @click="onSubmit"
              color="primary"
            >{{ isLogin ? 'Login' : 'Sign Up' }}</v-btn>
            <v-btn
              color="secondary"
              text
              @click="isLogin = !isLogin"
            >Switch to {{ isLogin ? 'Signup' : 'Login' }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      isLogin: true,
      email: '',
      password: ''
    }
  },
  methods: {
    onSubmit () {
      this.$store.dispatch('authUser', {
        isLogin: this.isLogin,
        email: this.email,
        password: this.password
      })
        .then(() => {
          this.$router.push('/admin')
        })
    }
  }
}
</script>
