<template>
  <v-app dark>
    <v-card color="basil">
      <v-card-title class="text-center justify-center py-6">
        <h1 class="font-weight-bold display-3 basil--text">{{ title }}</h1>
      </v-card-title>
      <v-tabs
        background-color="transparent"
        centered
      >
        <v-tab
          v-for="(item,i) in items"
          :key="i"
          :to="item.to"
        >
          {{ item.title }}
        </v-tab>
      </v-tabs>
    </v-card>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <v-spacer></v-spacer>
      <v-switch
        v-model="$vuetify.theme.dark"
        primary
        label="Dark"
      ></v-switch>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'default',
  data () {
    return {
      items: [
        {
          icon: 'mdi-apps',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Blog',
          to: '/posts'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'about',
          to: '/about'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'admin',
          to: '/admin'
        }
      ],
      title: 'Nuxt Blog'
    }
  }
}
</script>
