<template>
  <v-container>
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <h1>About Page</h1>

        <div class="mt-10">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam hic assumenda aperiam! Odit placeat debitis earum quas repudiandae dolores ut dolor libero maiores eos tempore, quam officia reprehenderit, illum hic repellendus sequi nam quis, non vel inventore. Sapiente accusamus veritatis ut quisquam similique vel, consequuntur id? Distinctio tempora culpa ipsam perspiciatis maiores dolorem quisquam est nemo possimus quo eum doloribus saepe, asperiores ducimus quod explicabo hic autem aut tenetur soluta quis totam voluptatum maxime aperiam? Repellat at velit porro dolore minus praesentium vitae recusandae rem quos tempora excepturi molestiae a iusto rerum ipsa voluptate eos obcaecati commodi, dolor impedit?</p>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
