<template>
  <v-container>
    <v-layout
      row
      justify-center
    >
      <v-flex
        xs12
        sm8
        md6
      >
        <PostsCarousel
          :slides="slides"
          :colors="colors"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4',
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth',
      ],
    }
  }
}
</script>
